.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    background: url(./moon-bg.jpg) center/cover;
    background-color: #444;
}

.App-right {
    width: calc(100vw - 400px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.84);

    button {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2px solid#fff;
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.3s;

        &:hover,
        &.active {
            color: #000;
            background-color: rgba(255, 255, 255, 1);
        }
    }

    .App-content {
        margin: auto;
        position: absolute;
        height: 32rem;
        top: 0;
        left: 1280px;
        bottom: 0;
        width: 16rem;

        ul {
            padding: 0;
            margin: 2rem 0;
        }

        li {
            list-style: none;
            align-items: center;
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            color: rgba(255, 255, 255, 0.4);
            transition: all 0.3s;

            p {
                margin: 0.75rem 0;
            }

            .clear {
                color: rgba(255, 255, 255, 0);
                transition: all 0.6s;
            }

            &:hover,
            &.active {
                color: rgba(255, 255, 255, 1);
                transform:translateY(-0.25rem);
            }
            &.active {
                .clear {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    .buttons {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
    }
}

.App-Sketchpad {
    margin: auto;
    position: absolute;
    top: 0;
    left: 80px;
    bottom: 0;
    width: 700px;
    height: 700px;
    background: url(./sketchpad-bg.jpg) center/cover;
    background-color: #444;
}

h1 {
    font-size: 8rem;
    font-style: italic;
    font-weight: 900;
    height: 40rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 650px;
    bottom: 0;
}